[submodule "sddm/catppuccin"]
	path = sddm/catppuccin
	url = https://github.com/catppuccin/sddm.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/EmKaCe/kickstart.nvim.git
